# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata
config/mine/
results/
RData/

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

.snakemake/
tempData/
config/discard/
config/reference/
config/IGVF_methods/

# work in progress (include steps to build prediction config and validate it in the eQTL workflow?)
Rplots.pdf
log.txt
# Validation
workflow/IGVF_prediction_validation/make_prediction_config.py
workflow/scripts/preprocessing/reformat_IGVF_inputs.py
workflow/scripts/preprocessing/validate_prediction_formats.py
workflow/scripts/visualization/boxplot_compare_enrichment.R
workflow/scripts/generate_input/prepare_prediction_config.py
workflow/rules/configuration.smk
# Plotting
workflow/scripts/visualization/custom_enrichment_at_recall.R
workflow/scripts/visualization/custom_enrichment_recall_curve.R